@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-geistMono: var(--font-geist-mono), sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-geistMono: var(--font-geist-mono), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100dvh;
}

html {
  @apply min-h-screen scroll-smooth antialiased;
}

body {
  @apply flex min-h-screen flex-col text-stone-600;
}

main {
  @apply grow;
}

.container {
  @apply max-w-5xl mx-auto px-4 sm:px-6 lg:px-8;
}

.title {
  @apply font-bold tracking-tight;
}
